<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet" />
</head>
<body>
	<div class="table-responsive" align="center">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>
						<h2 class="sub-header">User Details</h2>
					</th>
				</tr>
			</thead>
			<tr>
				<td width="150">
					<div th:include="userTemplates :: left"></div>
				</td>
				<td>
					<div class="col-md-5">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td>Name:</td>
									<td th:text="${user.name}"></td>
								</tr>
								<tr>
									<td>Role:</td>
									<td th:text="${user.role}"></td>
								</tr>
								<tr>
									<td>Nick Name:</td>
									<td th:text="${user.nickName}"></td>
								</tr>
								<tr>
									<td>Real Name:</td>
									<td th:text="${user.realName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>